@font-face {
    font-family: 'wolf_in_the_city_lightregular';
    src: url('my-font2/wolf_in_the_city_light-webfont.eot');
    src: url('my-font2/wolf_in_the_city_light-webfont.eot?#iefix') format('embedded-opentype'), url('my-font2/wolf_in_the_city_light-webfont.woff2') format('woff2'), url('my-font2/wolf_in_the_city_light-webfont.woff') format('woff'), url('my-font2/wolf_in_the_city_light-webfont.ttf') format('truetype'), url('my-font2/wolf_in_the_city_light-webfont.svg#wolf_in_the_city_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font {
    font-size: 35px;
    font-family: 'wolf_in_the_city_lightregular';
}


/*izbirame i prekarvame fonta prez fot squirrel ot generator.dopisvame pytq v url kym generiranite fontove*/


/*rasterni i vektorni izobrajeniq-razliki
*/


/*probvai s googlefont direktno
*/


/*css minify and beautyfy
*/


/*.celar {
    clear: both;
    height: 1px;
    overflow: hidden;
    margin-bottom: -1px;
}
*/


/*dva floatnati elementa v drug element e.i div -overflow hidden na parenta e kato clear
*/
