body {
    background-color: lightblue;
    font-size: 20px;
    font-style: italic;
    font-weight: bold
}

a {
    text-decoration: none
}

#ullist li:nth-child(2n) {
    background-color: yellow;
    width: 400px
}

.normal.bold {
    font-style: normal
}
