/*hover*/

button {
    background-color: red;
    width: 100px;
}

button:hover {
    background-color: grey
}


/*unvisited link 
:link
dokato dyrja mishkata natisnata
:active
neshto vyrhu koeto da se fokusirame
:focus
vsi4ko,koeto e na fokus se ocvetqva*/

*:focus {
    background-color: pink
}

table {
    border-collapse: collapse;
}

table tr td:first-child {
    background-color: orange
}

table tr td:last-child {
    background-color: blue
}


/*syshtoto e s :last-child*/

input[type="checkbox"]:checked {
    width: 100px;
    height: 100px
}

p:nth-child(odd) {
    background-color: green
}


/*position relative,absolute,fixed
*/


/*!important - slaga se na property i dava tejest na pyrvo mqsto
*/


/*lightbox- 2 diva .relativniq e s opasity z index 1,
width and hight 100% vtoriq div e sys snimka z index 2 i absolute v pyrviq div
*/

.one {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: lightblue;
    border: 1px dashed black;
    position: relative;
    box-sizing: border-box;
}

.two {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px ridge yellow;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    box-sizing: border-box;
}


/*ako na absoluta e v procenti naprimer 30. (100-30)/2=left35%
*/


/*.izpolzva se za centrirane na modalni prozorci vytreshniq div da e s width v px*/


/*lign-height--stava za divove s display:table .vytrshniq div display table-cell, syshto i verticle-align:middle*/

.a {
    width: 400px;
    height: 400px;
    background-color: lime;
    border: 1px solid red;
    position: relative;
    box-sizing: border-box;
    float: right;
}

.b {
    width: 40%;
    height: 40%;
    background-color: blue;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    left: 30%;
    top: 30%;
}

.table {
    width: 200px;
    height: 200px;
    display: table;
    float: right;
    background-color: lightgreen
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
