body,
h1,
fieldset,
h3 {
    margin: 0px;
    padding: 0px
}

body {
    background-color: lightgrey
}

legend {
    color: gold
}

.wrapper {
    width: 960px;
    margin: auto;
    background-color: gradient;
    font: normal normal 19px/28px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center
}

header {
    background-image: url(images/cartier.jpg);
    background-position: center;
    margin-bottom: 1%
}

section {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+7,ff9896+100 */
    background: #3f4c6b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3f4c6b 7%, #ff9896 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3f4c6b 7%, #ff9896 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3f4c6b 7%, #ff9896 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#ff9896', GradientType=0);
    color: #303103;
}

form {
    float: right;
}

.float1,
.float2 {
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 7px
}

.float1 {
    background-color: black;
    width: 25%;
}

.float2 {
    background-color: green;
    width: 74%;
    margin-left: 1%
}

.clear {
    clear: both;
}

footer {
    background-color: grey
}

ul.menu {
    list-style-type: none;
    line-height: 58px;
}

ul.menu li {
    position: relative;
}

a {
    text-decoration: none;
    color: gold
}

.image {
    display: none;
    list-style-type: none
}

.menu li:hover .image {
    display: block;
    position: absolute;
    right: 195px;
    z-index: 2;
}

img {
    width: 150px;
    border-radius: 10px
}

.menu a:hover {
    color: blue
}

footer ul {
    list-style-type: none;
}

h3 {
    margin-top: 1%
}
