#page-1 {
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2738f7+0,b8e22b+32,29ed25+58,ef819b+85 */
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #2738f7 0%, #b8e22b 32%, #29ed25 58%, #ef819b 85%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%, #2738f7 0%, #b8e22b 32%, #29ed25 58%, #ef819b 85%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%, #2738f7 0%, #b8e22b 32%, #29ed25 58%, #ef819b 85%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ef819b', GradientType=1);
    background-repeat: no-repeat;
    background-size: 1400px 1000px
    /* IE6-9 fallback on horizontal gradient */
}

#page-2 {
    background-image: url(images/StarWars.jpg);
}

#page-3 {
    background-color: #EAEF45
}

#page-4 {
    margin: 0px;
    padding: 0px;
    background-color: #76C1B8;
}

#page-4 div {
    background-color: #E5EA48
}

#page-4 h1 {
    margin: 0px;
}

#page-5 {
    background-image: url(images/StarWars2.png);
    background-attachment: fixed;
    font-size: 24px;
    color: yellow;
}

a {
    text-decoration: none;
    font-size: 23px;
    color: yellowgreen;
    font-family: "Comic Sans MS", cursive;
}

.menu {
    color: purple;
}

a:hover {
    background-color: grey
}

a:visited {
    text-decoration: underline;
}

.zoomed {
    margin: 20px;
    font-size: 1.1em;
}
