.first {
    width: 600px;
    height: 200px;
    background-color: yellow;
    margin-bottom: 20px
}


/*po chasovnikovata strelka se zadavat 4 stoinosti
, samo 2 stoinosti sa top  i bottom*/

.second {
    background-color: red;
    width: 400px;
    box-shadow: 20px 10px 20px green;
    margin: auto;
}

.float1,
.float2 {
    background-color: purple;
    width: 400px;
}

.float1 {
    float: left;
}

.float2 {
    float: right;
}

.clear {
    clear: both
}


/*slaga se na mejdinen element, ako nqma mqsto float padat na nov red*/

.next1 {
    background-color: pink;
    width: 50%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
}

.next2 {
    background-color: green;
    padding: 15px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}


/*box-sizing- preiz4islqva width*/

.button {
    display: block;
    background-color: pink;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px
}


/*za da napravim element s 300px width ,no iskame padding,
po 50 px left i right , elementa e s width 200px*/
